In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\student\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
student_df = pd.read_csv("student_data.csv")
student_df.head()

,Student ID,Math Score,Science Score,English Score,Social Studies Score,Interest,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude,Career Interest,Recommended Stream
0,1,82,63,98,100,Commerce,77,87,96,Economist,Arts
1,2,85,63,57,66,Arts,79,69,81,Writer,Commerce
2,3,91,75,91,65,Science,88,92,82,Doctor,Arts
3,4,72,66,66,78,Arts,91,83,86,Designer,Arts
4,5,58,69,73,60,Commerce,75,75,62,Entrepreneur,Commerce

In [3]:
student_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Student ID             3000 non-null   int64
 1   Math Score             3000 non-null   int64
 2   Science Score          3000 non-null   int64
 3   English Score          3000 non-null   int64
 4   Social Studies Score   3000 non-null   int64
 5   Interest               3000 non-null   object
 6   Logical Aptitude       3000 non-null   int64
 7   Verbal Aptitude        3000 non-null   int64
 8   Quantitative Aptitude  3000 non-null   int64
 9   Career Interest        3000 non-null   object
 10  Recommended Stream     3000 non-null   object
dtypes: int64(8), object(3)
memory usage: 257.9+ KB

In [4]:
 student_data = student_df.drop(["Interest","Career Interest","Student ID"],axis = 1)
student_data.head()

,Math Score,Science Score,English Score,Social Studies Score,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude,Recommended Stream
0,82,63,98,100,77,87,96,Arts
1,85,63,57,66,79,69,81,Commerce
2,91,75,91,65,88,92,82,Arts
3,72,66,66,78,91,83,86,Arts
4,58,69,73,60,75,75,62,Commerce

In [41]:
student_data['Stream'] = student_data['Recommended Stream'].map({'Arts':-1, 'Commerce':0, 'Science':1})

In [45]:
student_data.head(1000)

,Math Score,Science Score,English Score,Social Studies Score,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude,Recommended Stream,Stream
0,82,63,98,100,77,87,96,Arts,-1
1,85,63,57,66,79,69,81,Commerce,0
2,91,75,91,65,88,92,82,Arts,-1
3,72,66,66,78,91,83,86,Arts,-1
4,58,69,73,60,75,75,62,Commerce,0
...,...,...,...,...,...,...,...,...,...
995,58,61,53,97,94,77,100,Arts,-1
996,89,98,56,61,64,80,64,Science,1
997,78,73,79,89,62,88,64,Arts,-1
998,90,98,87,68,84,94,80,Science,1
999,80,73,50,93,69,82,65,Arts,-1

In [ ]:
onehot_encoded_df = pd.get_dummies(student_data, columns=["Stream"])
onehot_encoded_df = onehot_encoded_df.astype("int64")
print(onehot_encoded_df.dtypes)

In [12]:
student_data.describe()

,Math Score,Science Score,English Score,Social Studies Score,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,74.866000,75.525667,74.915667,74.874000,79.935000,80.037000,80.434333
std,14.681481,14.718635,14.655971,14.666987,11.963632,11.574957,11.925229
min,50.000000,50.000000,50.000000,50.000000,60.000000,60.000000,60.000000
25%,62.000000,63.000000,62.000000,62.000000,70.000000,70.000000,70.000000
50%,75.000000,76.000000,75.000000,75.000000,80.000000,80.000000,80.000000
75%,88.000000,89.000000,88.000000,87.000000,91.000000,90.000000,91.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [15]:
onehot_encoded_df = pd.get_dummies(student_data, columns=["Recommended Stream"])
onehot_encoded_df = onehot_encoded_df.astype("int64")
print(onehot_encoded_df.dtypes)

Math Score                     int64
Science Score                  int64
English Score                  int64
Social Studies Score           int64
Logical Aptitude               int64
Verbal Aptitude                int64
Quantitative Aptitude          int64
Recommended Stream_Arts        int64
Recommended Stream_Commerce    int64
Recommended Stream_Science     int64
dtype: object

In [16]:
onehot_encoded_df.head()

,Math Score,Science Score,English Score,Social Studies Score,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude,Recommended Stream_Arts,Recommended Stream_Commerce,Recommended Stream_Science
0,82,63,98,100,77,87,96,1,0,0
1,85,63,57,66,79,69,81,0,1,0
2,91,75,91,65,88,92,82,1,0,0
3,72,66,66,78,91,83,86,1,0,0
4,58,69,73,60,75,75,62,0,1,0

In [17]:
onehot_encoded_df.describe()

,Math Score,Science Score,English Score,Social Studies Score,Logical Aptitude,Verbal Aptitude,Quantitative Aptitude,Recommended Stream_Arts,Recommended Stream_Commerce,Recommended Stream_Science
count,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000
mean,74.866000,75.525667,74.915667,74.874000,79.935000,80.037000,80.434333,0.579667,0.241667,0.178667
std,14.681481,14.718635,14.655971,14.666987,11.963632,11.574957,11.925229,0.493695,0.428165,0.383137
min,50.000000,50.000000,50.000000,50.000000,60.000000,60.000000,60.000000,0.000000,0.000000,0.000000
25%,62.000000,63.000000,62.000000,62.000000,70.000000,70.000000,70.000000,0.000000,0.000000,0.000000
50%,75.000000,76.000000,75.000000,75.000000,80.000000,80.000000,80.000000,1.000000,0.000000,0.000000
75%,88.000000,89.000000,88.000000,87.000000,91.000000,90.000000,91.000000,1.000000,0.000000,0.000000
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.000000,1.000000,1.000000

In [7]:
x = onehot_encoded_df.drop(["Recommended Stream_Arts","Recommended Stream_Commerce","Recommended Stream_Science"],axis = 1)
y = onehot_encoded_df[["Recommended Stream_Arts","Recommended Stream_Commerce","Recommended Stream_Science"]]

In [27]:
y.value_counts()

Recommended Stream_Arts  Recommended Stream_Commerce  Recommended Stream_Science
1                        0                            0                             1739
0                        1                            0                              725
                         0                            1                              536
Name: count, dtype: int64

In [33]:
print(y)

0           Recommended Stream_Arts
1       Recommended Stream_Commerce
2           Recommended Stream_Arts
3           Recommended Stream_Arts
4       Recommended Stream_Commerce
                   ...
2995        Recommended Stream_Arts
2996        Recommended Stream_Arts
2997        Recommended Stream_Arts
2998     Recommended Stream_Science
2999        Recommended Stream_Arts
Length: 3000, dtype: object

In [26]:
!pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imblearn in c:\users\student\appdata\roaming\python\python311\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\student\appdata\roaming\python\python311\site-packages (from imblearn) (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\student\appdata\roaming\python\python311\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\student\appdata\roaming\python\python311\site-packages (from imbalanced-learn->imblearn) (1.5.2)
Requirement already satisfied: joblib>=1.1.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\student\appdata\roaming\python\python311\site-packages (from imbalanced-learn->imblearn) (3.5.0)

In [34]:
from imblearn.over_sampling import SMOTE

# Initialize the SMOTE object with the desired parameters
oversample = SMOTE(k_neighbors=5)  # k_neighbors=5 is a good default value

# Apply SMOTE to the features (x) and target labels (y)
x_resampled, y_resampled = oversample.fit_resample(x, y)

# Verify the class distribution after resampling
print("Before SMOTE:")
print(y.value_counts())  # Original class distribution
print("\nAfter SMOTE:")
print(y_resampled.value_counts())

Before SMOTE:
Recommended Stream_Arts        1739
Recommended Stream_Commerce     725
Recommended Stream_Science      536
Name: count, dtype: int64

After SMOTE:
Recommended Stream_Arts        1739
Recommended Stream_Commerce    1739
Recommended Stream_Science     1739
Name: count, dtype: int64

In [36]:
print(x.dtypes)

Math Score               int64
Science Score            int64
English Score            int64
Social Studies Score     int64
Logical Aptitude         int64
Verbal Aptitude          int64
Quantitative Aptitude    int64
dtype: object
object

In [37]:
print(y.dtype)

object

In [38]:
print(y)

0           Recommended Stream_Arts
1       Recommended Stream_Commerce
2           Recommended Stream_Arts
3           Recommended Stream_Arts
4       Recommended Stream_Commerce
                   ...
2995        Recommended Stream_Arts
2996        Recommended Stream_Arts
2997        Recommended Stream_Arts
2998     Recommended Stream_Science
2999        Recommended Stream_Arts
Length: 3000, dtype: object

In [8]:
from sklearn.model_selection import train_test_split

def classify(model, x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    # train the model
    model.fit(x_train, y_train)
    print("Accuracy:", model.score(x_test, y_test) * 100)
    return model.score(x_test, y_test) * 100

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

# Scale the features
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

# Initialize the Logistic Regression model
model = LogisticRegression(max_iter=1000, solver='lbfgs')  # Adjust solver if needed

# Train and evaluate using the classify function
LinearReg_acc = classify(model, x_scaled, y)
print("Logistic Regression Accuracy:", LinearReg_acc)

ValueError: y should be a 1d array, got an array of shape (2400, 3) instead.

In [10]:
# from sklearn.svm import SVC
# from sklearn.preprocessing import StandardScaler

# # Scale the features
# scaler = StandardScaler()
# x_scaled = scaler.fit_transform(x)
# # Initialize the SVC model
# model = SVC(kernel='rbf', C=1.0, gamma='scale', random_state=1)

# # Train and evaluate using the classify function
# SVM_acc = classify(model, x_scaled, y)
# print("SVM Accuracy:", SVM_acc)

ValueError: y should be a 1d array, got an array of shape (2400, 3) instead.

In [ ]:
Accuracy = [SVM_acc]
models = ['Support Vector Machine']

In [ ]:
import matplotlib.pyplot as plt
sns.barplot(x=Accuracy, y=models, color="g")
plt.xlabel('Accuracy in %')
plt.title('Accuracy')
plt.show()

In [ ]:
import joblib
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

# Scale the features
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

# Initialize the SVC model
model = SVC(kernel='rbf', C=1.0, gamma='scale', random_state=1)

# Train and evaluate using the classify function
SVM_acc = classify(model, x_scaled, y)
print("SVM Accuracy:", SVM_acc)

# Save the trained model using joblib
joblib.dump(model, 'svm_model.pkl')
joblib.dump(scaler, 'scaler.pkl')

In [ ]:
import joblib

# Load the model and scaler from disk
loaded_model = joblib.load('svm_model.pkl')
loaded_scaler = joblib.load('scaler.pkl')

In [ ]:
input_data = np.array([[82, 11, 45, 35, 10, 54,45]])

In [ ]:
input_data_scale = loaded_scaler.transform(input_data)
print(input_data_scale)

In [ ]:
pred = model.predict(input_data_scale)
print("prediction stream is",pred)